.h1_text {
  color: white;
}

.h2_text {
  color: white;
}

.p_text {
  color: white;
  font-size: 23px;
}

.App {
  text-align: center;
}

.navbar .navbar_link {
  color: white;
}

.navbar .navbar_link:visited {
  color: white;
}

.navbar_main {
  color: #000;
}

body {
  background-color: #045c1b;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


